<footer class="footer">
<div class="container footer-container">
     <ul class="footer-navigation">
          <li class="footer-link">
              <a class="footer-underline" href="privacy.html">Política de Privacidade</a>
          </li>
          <li class="footer-link">
              <a class="footer-underline" href="terms.html">Termos e Condições</a>
          </li>
          <li class="footer-link">
              <a class="footer-underline" href="cookies.html">Política de Cookies</a>
          </li>
      </ul>

      <p class="footer-text">Copyright © Enginecrafta.com - All Rights Reserved.</p>
      <p class="last-footer-text">Gostou do nosso site?<br class="mob"/>
        Tem comentários ou sugestões?<br/>Sua opinião nos ajuda a melhorar continuamente. Escreva para nós em info@enginecrafta.com</p>
  </div>
</footer>