<section class="hero-section" id="hero">
  <article class="home-section">
    <div class="container home-container">
      <h1 class="visually-hidden">Os Nossos Casinos Favoritos</h1>
      <div class="casino-table">
      <div class="casino-head">
<div class="wrap-one wrap">
  <p>Os Nossos Casinos Favoritos</p>
</div>
<div class="wrap-two wrap">
  <p>Bónus de Boas-Vindas</p>
</div>
<div class="wrap-three wrap">
  <p>Jogar Agora</p>
</div>
      </div>

        <ul class="hero-list">
            <li class="hero-item">
              <div class="number-wrapper">
                <img src="/img/hero/number-one.png" alt="one" loading="lazy">
              </div>
                <img class="hero-img-one" src="/img/hero/one.png" alt="Site logo" loading="lazy">
                <div class="hero-img-wrapper">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">100% até 100€ + 25 Free Spins <span class="hero-desk-span">
                  (registo)</span></p>
              </div>

                <p class="logo-text">Solverde</p>
                <a class="hero-link" target="_blank" href="https://www.solverde.pt/">Jogue agora</a>
            </li>
            <li class="hero-item">
              <div class="number-wrapper">
                <img src="/img/hero/number-two.png" alt="two" loading="lazy">
              </div>
                <img class="hero-img-one" src="/img/hero/two.png" alt="Site logo" loading="lazy">
                <div class="hero-img-wrapper">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">Até 700€ + 300 Jogadas<br/>
                  Grátis</p>
              </div>

                <p class="logo-text">Nossaaposta</p>
                <a class="hero-link" target="_blank" href="https://www.nossaaposta.pt/">Jogue agora</a>
            </li>
            <li class="hero-item">
              <div class="number-wrapper">
                <img src="/img/hero/number-three.png" alt="three" loading="lazy">
              </div>
                <img class="hero-img-one" src="/img/hero/three.png" alt="Site logo" loading="lazy">
                <div class="hero-img-wrapper">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">Até 125 Rodadas Grátis</p>
              </div>

                <p class="logo-text">Bwin</p>
                <a class="hero-link" target="_blank" href="https://www.bwin.pt/">Jogue agora</a>
            </li>
            <li class="hero-item">
              <div class="number-wrapper">
                <img src="/img/hero/number-four.png" alt="four" loading="lazy">
              </div>
                <img class="hero-img-one" src="/img/hero/four.png" alt="Site logo" loading="lazy">
                <div class="hero-img-wrapper">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">Dep. 10€ → joga com 50€</p>
              </div>

                <p class="logo-text">Betclic</p>
                <a class="hero-link" target="_blank" href="https://www.betclic.com/">Jogue agora</a>
            </li>
        </ul>
      </div>
    </div>
  </article>
 <article class="about-section">
    <div class="container about-container">
        <h2 class="about-title">Casinos online com licença em Portugal: as melhores escolhas</h2>
        <p class="about-text">Na Enginecrafta, analisamos os casinos licenciados em Portugal de forma clara e sem rodeios. Avaliamos a variedade de jogos disponíveis, a estabilidade da plataforma, a clareza das ofertas promocionais e a qualidade do suporte ao cliente em português. Só recomendamos casinos onde consegues verificar a tua conta rapidamente e onde depositar e levantar dinheiro é mesmo fácil — com opções como Multibanco e MB Way — e onde existem medidas pensadas para garantir a segurança do jogador durante a experiência de jogo.</p>
    </div>
</article>
</section>

<section class="faq-section">
  <article class="faq-article">
    <div class="container faq-container">
        <h2 class="faq-title">Perguntas Frequentes (FAQ)</h2>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                      O que significa um casino online ser licenciado em Portugal?

                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6583 27.075L0.0867403 1.16365C-0.0912045 0.794562 0.0133891 0.320494 0.320378 0.105606C0.53364 -0.0436682 0.797161 -0.0321856 1.00091 0.133492L10.0557 7.57422C12.4369 9.53118 15.5666 9.53118 17.9478 7.57422L26.9985 0.135132C27.2906 -0.106002 27.6886 -0.0157819 27.8882 0.336898C28.0282 0.584594 28.0377 0.906107 27.9113 1.16365L15.3329 27.075C14.8996 27.9657 13.9501 28.2659 13.2112 27.7426C12.983 27.5802 12.7928 27.3505 12.6583 27.075Z" fill="white" />
                    </svg>
                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">Quando um casino possui licença emitida pelo SRIJ, significa que está tudo em ordem do ponto de vista legal. A identidade dos jogadores é validada, têm proteções contra fraudes que funcionam bem e são disponibilizadas ferramentas de jogo responsável. O jogador pode definir limites pessoais, suspender a conta temporariamente e aceder a informação clara sobre probabilidades e condições dos bónus.</p>
            </li>
             <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                      Como funcionam os bónus de boas-vindas na prática?

<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6583 27.075L0.0867403 1.16365C-0.0912045 0.794562 0.0133891 0.320494 0.320378 0.105606C0.53364 -0.0436682 0.797161 -0.0321856 1.00091 0.133492L10.0557 7.57422C12.4369 9.53118 15.5666 9.53118 17.9478 7.57422L26.9985 0.135132C27.2906 -0.106002 27.6886 -0.0157819 27.8882 0.336898C28.0282 0.584594 28.0377 0.906107 27.9113 1.16365L15.3329 27.075C14.8996 27.9657 13.9501 28.2659 13.2112 27.7426C12.983 27.5802 12.7928 27.3505 12.6583 27.075Z" fill="white" />
</svg>                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">Normalmente, o primeiro bónus dá-te dinheiro extra em cima do que depositaste, mais algumas rodadas grátis. Antes de aceitar, é importante verificar os detalhes: requisitos de apostas, jogos que contam para o rollover, limite por aposta e prazo para cumprir as condições. Dica: escolhe slots que contam 100% para o rollover - assim libertas o bónus mais depressa.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                      O que é um bónus sem depósito e quais são as suas limitações?

<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6583 27.075L0.0867403 1.16365C-0.0912045 0.794562 0.0133891 0.320494 0.320378 0.105606C0.53364 -0.0436682 0.797161 -0.0321856 1.00091 0.133492L10.0557 7.57422C12.4369 9.53118 15.5666 9.53118 17.9478 7.57422L26.9985 0.135132C27.2906 -0.106002 27.6886 -0.0157819 27.8882 0.336898C28.0282 0.584594 28.0377 0.906107 27.9113 1.16365L15.3329 27.075C14.8996 27.9657 13.9501 28.2659 13.2112 27.7426C12.983 27.5802 12.7928 27.3505 12.6583 27.075Z" fill="white" />
</svg>
                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">É uma oferta atribuída apenas pelo registo, podendo incluir saldo de bónus ou free spins, sem necessidade de depósito. Apesar de atrativa, costuma ter limites máximos de levantamento, prazos reduzidos e requisitos de apostas obrigatórios. Em casinos licenciados, todas estas regras são apresentadas de forma clara na página da promoção.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                      Quais são os métodos de pagamento mais usados em Portugal?

<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6583 27.075L0.0867403 1.16365C-0.0912045 0.794562 0.0133891 0.320494 0.320378 0.105606C0.53364 -0.0436682 0.797161 -0.0321856 1.00091 0.133492L10.0557 7.57422C12.4369 9.53118 15.5666 9.53118 17.9478 7.57422L26.9985 0.135132C27.2906 -0.106002 27.6886 -0.0157819 27.8882 0.336898C28.0282 0.584594 28.0377 0.906107 27.9113 1.16365L15.3329 27.075C14.8996 27.9657 13.9501 28.2659 13.2112 27.7426C12.983 27.5802 12.7928 27.3505 12.6583 27.075Z" fill="white" />
</svg>
                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">Multibanco e MB Way são os métodos mais populares, seguidos de cartões bancários e algumas carteiras digitais. Para levantar fundos, é necessário concluir a verificação de identidade e, normalmente, o levantamento é feito através do mesmo método utilizado no depósito, por causa das regras anti-lavagem de dinheiro.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                      Como jogar de forma responsável?

<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6583 27.075L0.0867403 1.16365C-0.0912045 0.794562 0.0133891 0.320494 0.320378 0.105606C0.53364 -0.0436682 0.797161 -0.0321856 1.00091 0.133492L10.0557 7.57422C12.4369 9.53118 15.5666 9.53118 17.9478 7.57422L26.9985 0.135132C27.2906 -0.106002 27.6886 -0.0157819 27.8882 0.336898C28.0282 0.584594 28.0377 0.906107 27.9113 1.16365L15.3329 27.075C14.8996 27.9657 13.9501 28.2659 13.2112 27.7426C12.983 27.5802 12.7928 27.3505 12.6583 27.075Z" fill="white" />
</svg>
                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">Decide logo à partida quanto tempo e dinheiro vais gastar e lembra-te de que o jogo deve ser apenas uma forma de entretenimento. Evita tentar recuperar perdas com apostas mais elevadas.Se sentires perda de controlo, faz uma pausa e pede ajuda.</p>
            </li>
        </ul>
    </div>
  </article>
  <article class="allow-section">
    <div class="container">
        <div class="allow-wrapper">
            <h2 class="allow-title">Avico</h2>
            <p class="allow-text">Atuamos em total conformidade com as normas estabelecidas pelo SRIJ. Todas as plataformas listadas possuem licença ativa para atuar legalmente em Portugal. Apenas maiores de 18 anos podem participar de jogos online. Para orientações sobre jogo responsável e apoio ao jogador, visite o site oficial do SRIJ.</p>
            <div class="img-wrapper">
            <img class="allow-one" src="/img/allow/one.png" alt="cordon moody" loading="lazy">
            <img class="allow-two" src="/img/allow/two.png" alt="18+" loading="lazy">
            <img class="allow-three" src="/img/allow/three.png" alt="icad" loading="lazy">
            <img class="allow-four" src="/img/allow/four.png" alt="ssl" loading="lazy">
            <img class="allow-five" src="/img/allow/five.png" alt="camcare" loading="lazy">
            <img class="allow-six" src="/img/allow/six.png" alt="SRIJ" loading="lazy">
        </div></div>
    </div>
</article>
</section>
