:root {
  --font-family: "Play", sans-serif;
  --second-family: "Nunito Sans", sans-serif;
}
body{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
    background: linear-gradient(180deg, #3a0152 0%, #8203b8 100%);
}
@media only screen and (min-width: 1440px) {
body{
    font-size: 20px;
}
}