:root {
  --font-family: "Play", sans-serif;
  --second-family: "Nunito Sans", sans-serif;
}
body{
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22222;
    background: #140000;
}
@media only screen and (min-width: 1440px) {
body{
    font-size: 20px;
}
}