.cookie-popup {
  position: fixed;
  bottom: 30px;
  left: 48%;
  transform: translateX(-48%);
  border: 4px solid #ff4dff;
  border-radius: 22px;
  padding: 18px;
  width: 335px;
  background: #040401;
  height: auto;
  display: none;
}

.cookie-class {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #eee;
  text-align: left;
}


.btn-accept {
  margin-top: 22px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  width: 156px;
  height: 45px;
  box-shadow: 3px 4px 10px 0 #ff4dff;
background: #fff;
font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.01em;
text-align: center;
color: #040401;
display: flex;
align-items: center;
justify-content: center;
margin-left: 0;
margin-right: auto;

}

@media screen and (min-width: 1439px) {
  .cookie-popup {
    border: 4px solid #ff4dff;
    border-radius: 22px;
    padding: 18px;
    width: 488px;

  }



.cookie-class{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #eee;
}

}