.footer{
  backdrop-filter: blur(14px);
background: #030504;
border-top: 1px solid #ff4dff;
}
.footer-container{
  padding: 32px 20px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.footer-text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #ff4dff;
margin-top: 10px;
}
.last-footer-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
@media only screen and (min-width: 1440px) {
  .footer-up{
    padding: 64px 0 0;
  }
  .footer-br{
    display: none;
  }
  .footer-one-text{
    font-size: 16px;
line-height: 150%;
  }
  .footer-two-text{
    font-size: 14px;
line-height: 143%;
  }
  .footer-navigation{
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    font-size: 14px;
line-height: 143%;
  }
  .footer-underline{
    flex-direction: row;
    gap: 24px;
  }
  .mob{
    display: none;
  }
  .desk{
    display: block;
  }
}