.footer{
  backdrop-filter: blur(14px);
background: #030504;
border-top: 1px solid #ff4dff;
}
.footer-container{
  padding: 32px 20px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.footer-text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #ff4dff;
margin-top: 10px;
}
.last-footer-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding: 51px 381px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-navigation{
    flex-direction: row;
    gap: 16px;
    justify-content: center;
order: 1;
  }
  .last-footer-text{
    margin-top: 20px;
    order: 2;

  }
.footer-text{
  margin-top: 20px;
  order: 3;

}
.mob{
  display: none;
}
}