.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.casino-head{
  display: none;
}
.casino-table{
  background: linear-gradient(180deg, #3a0152 0%, #8203b8 100%);
  border: 1px solid #ff4dff;
border-radius: 22px;
padding-bottom: 24px;
margin-top: 70px;
margin-left: auto;
margin-right: auto;
height: auto;
}
.hero-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    }
.hero-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    border-bottom: 2px solid #ff4dff;
    border-radius: 12px;
    padding: 16px 12px;
    width: 300px;
    height: 348px;

    background: #34004a;

    transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

.hero-item:hover {
    background: #000100;
    box-shadow: 0 0 26px 0 #cd14de;
}
.cost-text{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #fff;
}
.hero-img-wrapper{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.logo-text{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #fff;
}
.hero-link{
    display: flex;
    border-radius: 8px;
    width: 167px;
    height: 66px;
    background: linear-gradient(180deg, #ff7eea 0%, #f804d1 100%);
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 156%;
text-transform: uppercase;
text-align: center;
color: #fff;
justify-content: center;
align-items: center;
            transition: all 0.3s ease-in-out;
}
.hero-link:hover{
transform: scale(1.1);
}
.home-container{
  padding-bottom: 0;
}
.number-wrapper{
  display: none;
}
@media only screen and (min-width: 1440px) {
    .hero-section{
        background-image: url("/img/hero/desk.png");
    }
.casino-head{
  display: flex;
  border: 1px solid var(--ff4dff);
border-radius: 22px 22px 0 0;
padding: 22px 40px;
width: 1238px;
height: 62px;
background: #040401;
}
.casino-table{
  border-radius: 22px;
width: 1240px;
height: 991px;
display: flex;
flex-direction: column;
gap: 32px;

}
.wrap{
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-transform: uppercase;
color: #fff;
}
.wrap-one{
  padding-left: 140px;
}
.wrap-two{
  padding-left: 50px;
}
.wrap-three{
padding-left: 260px;
}
    .hero-item{
        flex-direction: row;
        width: 1199px;
        height: 184px;
        padding: 12px 32px;
            gap: 10px;
            justify-content: space-between;
    }

    .cost-text{
      font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 107%;
text-align: center;
color: #fff;
    }  .hero-desk-span{
      font-size: 18px;
    }
    .number-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92px;
height: 100px;
    }
    .hero-list{
      gap: 32px;
      margin-top: 0;
    }
    .hero-img-wrapper{
      width: 228px;
    }
.hero-link{
  border-radius: 12px;
  width: 252px;
  height: 100px;
  font-size: 28px;

}
.logo-text{
  font-size: 18px;
}
}
/* about */

.about-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 118%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
        margin-top: 230px;
}
.about-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: #fff;
    margin-top: 30px;
}
.about-container{
    padding-top: 0;
}
@media only screen and (min-width: 1440px) {
.about-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
        margin-top: 410px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
}
.about-text{
    margin-top: 40px;
    font-size: 20px;
}
}
/* FAQ */
.faq-section{
    background-image: url("/img/faq/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.faq-title{
    font-family: "Afacad", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.375;
        text-align: center;
        color: #001f7b;
}
.faq-span{
    background: linear-gradient(166deg, #001f7b 0%, #278ac4 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 336px;
    margin: 64px auto 0;
    margin-bottom: 16px;
}
.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-trigger {
border: 1px solid #ffe100;
    border-radius: 12px;
    padding: 18px 16px;
    width: 335px;
    height: 92px;
    background: linear-gradient(90deg, #e8ba30 0%, #ff5f00 100%);
font-family: "Afacad", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    transition: transform 0.3s ease;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    border-left: 1px solid #ffe100;
    border-right: 1px solid #ffe100;
    border-bottom: 1px solid #ffe100;
background: linear-gradient(90deg, #e8ba30 0%, #ff5f00 100%);
    padding: 0px 16px 16px;
    width: 335px;
        font-family: "Afacad", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-trigger {
    border-radius: 12px 12px 0 0;
border-bottom: none;
    position: relative;

}
.faq-acc-el.open .faq-acc-el-trigger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 303px;
    height: 1px;
    background-color: #ffe100;
    transform: translateX(-50%);
}
.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    padding: 0px 16px 16px;
    opacity: 1;
    border-left: 1px solid #ffe100;
        border-right: 1px solid #ffe100;
        border-bottom: 1px solid #ffe100;
        background: linear-gradient(90deg, #e8ba30 0%, #ff5f00 100%);
border-radius:0 0 12px 12px;
    padding: 0 16px 18px;
    width: 335px;
    max-height: 500px;
    margin-bottom: 16px;
    margin-top: -1px;
}
.arrow-img {
    transition: transform 0.3s ease;
}

.faq-acc-el.open .arrow-img {
    transform: rotate(180deg);
}
@media only screen and (min-width: 1440px) {
    .faq-section{
        background-image: url("/img/faq/desk.png");
            }

    .faq-title{
        font-size: 52px;
            line-height: 1.15385;
    }
    .faq-acc{
        width: 965px;
    }
    .faq-acc-el-trigger{
        width: 965px;
    }
        .faq-acc-el-descr-frame{
            width: 965px;
              }
        .faq-acc-el.open .faq-acc-el-descr-frame {
            width: 965px;
        }
                .faq-acc-el.open .faq-acc-el-trigger::after {
                    width: 909px;
                }
}
/* allow */
.allow-section{
    background-image: url("/img/allow/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.allow-wrapper{
    border: 1px solid rgba(130, 148, 177, 0.5);
        border-radius: 14px;
        padding: 28px 16px;
        width: 335px;
        height: 854px;
background: radial-gradient(circle,
            rgba(3, 124, 60, 0.3) 0%,
            rgba(0, 0, 0, 0.3) 100%
        );
display: flex;
flex-direction: column;
align-items: center;
}
.allow-title{
    font-family: "Afacad", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.25;
        text-align: center;
        color: #fff;
}
.allow-text{
    margin-top: 20px;
    font-family: "Afacad", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55556;
        text-align: center;
        color: #fff;
}
.img-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 28px;
}
@media only screen and (min-width: 1440px) {
  .allow-section{
background-image: radial-gradient(circle,
            rgba(39, 138, 196, 1) 0%,
            /* напівпрозорий центр */
            rgba(255, 255, 255, 0) 100%
            /* прозорі краї */
        ),
        url("/img/allow/desk.png");
  }
  .allow-wrapper{
    padding: 52px 31px;
    width: 1198px;
    height: auto;
    align-items: start;
  }
  .img-wrapper{
    flex-direction: row;
    justify-content: center;
    width: 843px;
    margin-left: auto;
    margin-right: auto;
  }
  .allow-text{
    text-align: left;
  }
}