@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./cookie-popup.css');

.background{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  text-align: left;
}
.policies-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 131%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
margin-top: 100px;
margin-bottom: 40px;
}
.policy-list{
  padding-left: 10px;
}
.policy-list-style{
  list-style-type: disc;
}
.link-break{
  word-break: break-word;
  overflow-wrap: anywhere;
}

@media only screen and (min-width: 1440px) {
  .policies-continer{
    padding-left: 80px;
    padding-right: 80px;
  }
  .policies-title{font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;}
}
